body {
    background-image: url("images/sl_0210121_40570_88.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    padding: auto;
    height: 100%;
    margin: 0;
    font:  15px/1.8 "Lato", sans-serif;
    color: #777;
  }

  html{
    height: 100%;
    margin: 0;
  }

  .main-content{
    min-height: calc(100% - 10px);
    position: relative;
  }
  .logo {
    border-radius: 20%;
  }
  .logotext {
    float: left;
    margin-top: -100px;
    margin-left: 40%;
    text-align: center;
    position: absolute;
    color: goldenrod;
    font-family: "Courier New", Courier, monospace;
  }
  nav {
    background-color: #222831;
  }
  
  footer {
    background-color: #222831;
    color: goldenrod;
    text-align: center;
    padding: 10px;
    position: relative;
    border:goldenrod solid 1px;
    bottom: 0%;
    width: 100%;
  }
  
  .navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
    list-style-type: none;
    text-align: center;
    background-color: #1a1f25;
    color: goldenrod;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  a:link {
    color: goldenrod;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:visited {
    color: goldenrod;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover {
    color: white;
    text-decoration: underline;
    background-color: #222831;
  }
  a:active {
    color: #3ab0ff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .banner {
    width: 100%;
    height: 500px;
    background-image: url("images/banner.jpg");
    background-size: cover;
    border: #222831;
    padding: 10px;
  }
  
  .weltextbox {
    background-color: #222831;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
  
  .textbox1 {
    background-color: #222831;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    width: 50%;
    height: 450px;
    
    
    margin-right: 20px;
   
    
  }

  .aboutbox{
    background-color: #222831;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    height: relative;
    display: flexbox;
    justify-content: flex-end;
  }

  button{
    background-color: goldenrod;
    color: #222831;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  h3{
    color: goldenrod;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    background-color: #1a1f25;
    padding: 20px;
  }
  .image1{
    
    background-color: #222831;
    background-image: url("images/Film-Elvis-Presley-Jailhouse-Rock.webp");
    background-size: cover;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
  
  }
  
  .image2{
    
    background-color: #222831;
    background-image: url("images/hawiistage.webp");
    background-size: cover;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
  
  }
  
  .image3{
    
    background-color: #222831;
    background-image: url("images/elvis\ and\ priscilla.jpg");
    background-size: cover;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
  
  }
  
  .content-wrapper{
    display: flex;
    align-items: flex-start;
  }
  
  .textbox2 {
    background-color: #222831;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    width: 50%;
    float: right;
    height: 450px;
    
    
    
  }
  
  .textbox3 {
    background-color: #222831;
    color: goldenrod;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    width: 50%;
    float: left;
    height: 450px;
    
    
    
  }
  
  @media (max-width: 600px) {
    .textBox1 {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 600px) {
    .image1 {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 600px) {
    .image2 {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 600px) {
    .image3 {
      width: 100%;
      height: auto;
    }
  }
   
  
    
  
  
  
  